<%= render "shared/login_form" unless current_member %>

<h2>news</h2>
<ul>
<% Article.sidebar_articles(current_member,5).each do |article| %>
  <li><%= link_to article.title, article %></li>
<% end %>
</ul>

<h2>blog</h2>
<ul>
<% 5.times do |i| %>
  <li><%= link_to "blog heading","#" %></li>
<% end %>
</ul>