<%= render "shared/login_form" %>

<h2>news</h2>
<ul>
<% 5.times do |i| %>
  <li><%= link_to "news heading","#" %></li>
<% end %>
</ul>

<h2>blog</h2>
<ul>
<% 5.times do |i| %>
  <li><%= link_to "blog heading","#" %></li>
<% end %>
</ul>